.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    width: 140px;
}

form button {
    width: 60px;
}

.booksDisplay p {
    margin: 0;
}

