.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.booksDisplay {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
}

.booksDisplay div {
  padding: 1px;
}

.book-list-container div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.booksDisplay > div:nth-child(odd) {
  background: #e0e0e0;
}

.book-list-container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.removeBtn {
  justify-content: end;
}

.booksDisplay p {
  margin: 0;
}

hr {
  border: 1px solid #363535;
  width: 80px;
}

.add-book-head-tag {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}

form input {
  width: 140px;
}

form button {
  width: 60.5px;
}
